In [129]:
import pyodbc as po
import pandas as pd
import numpy as np
import sys
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
import codecs
 
%matplotlib inline
#importation de la librairie
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter

In [130]:
conn_string = (r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\Djeudchoo\Downloads\zone\Abschlussarbeit.accdb")
conn = po.connect(conn_string)

In [131]:
cursor = conn.cursor()

for table_info in cursor.tables(tableType='TABLE'):
    print(table_info.table_name)

Daten aus Chemocompile
Diagnosen
Labor

In [132]:
SQL_Query = pd.read_sql_query('''SELECT * FROM Labor''', conn)

In [133]:
df = pd.DataFrame(SQL_Query)
# df.set_index('ID')
df.head()

,ID,doknr,dokvr,patnr,falnr,n2leistid,n2value,n2date,n2time,Protokollnamen,Protokollnummer,alter
0,1,0000000000000010019944256,00,0005000737,0075340477,LAALT,10,20180604,101758,Gemcitabin_KS,0218-KLStg,83
1,2,0000000000000010019954203,00,0005000737,0075340477,LAALT,11,20180605,120041,Gemcitabin_KS,0218-KLStg,83
2,3,0000000000000010019960371,00,0005000737,0075340477,LAALT,12,20180606,090436,Gemcitabin_KS,0218-KLStg,83
3,4,0000000000000010020159113,00,0005000737,0075404297,LAALT,17,20180706,105527,Gemcitabin_KS,0218-KLStg,83
4,5,0000000000000010020401928,00,0005000737,0075469116,LAALT,20,20180814,134102,Carboplatin-Gemcitabine,0019-KLStg,83

In [151]:
df.shape

(1183001, 12)

In [152]:
df.to_csv("Labordaten1.csv", index=False)

In [153]:
data_df = pd.read_csv("Labordaten1.csv")

data_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,doknr,dokvr,patnr,falnr,n2leistid,n2value,n2date,n2time,Protokollnamen,Protokollnummer,alter
0,1,10019944256,0,5000737,75340477,LAALT,10,20180604,101758,Gemcitabin_KS,0218-KLStg,83
1,2,10019954203,0,5000737,75340477,LAALT,11,20180605,120041,Gemcitabin_KS,0218-KLStg,83
2,3,10019960371,0,5000737,75340477,LAALT,12,20180606,90436,Gemcitabin_KS,0218-KLStg,83
3,4,10020159113,0,5000737,75404297,LAALT,17,20180706,105527,Gemcitabin_KS,0218-KLStg,83
4,5,10020401928,0,5000737,75469116,LAALT,20,20180814,134102,Carboplatin-Gemcitabine,0019-KLStg,83

In [154]:
data_df.shape

(1183001, 12)

In [155]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183001 entries, 0 to 1183000
Data columns (total 12 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   ID               1183001 non-null  int64
 1   doknr            1183001 non-null  int64
 2   dokvr            1183001 non-null  int64
 3   patnr            1183001 non-null  int64
 4   falnr            1183001 non-null  int64
 5   n2leistid        1183001 non-null  object
 6   n2value          1183001 non-null  object
 7   n2date           1183001 non-null  object
 8   n2time           1183001 non-null  int64
 9   Protokollnamen   1183001 non-null  object
 10  Protokollnummer  1183001 non-null  object
 11  alter            1183001 non-null  int64
dtypes: int64(7), object(5)
memory usage: 108.3+ MB

In [161]:
data_df.duplicated(subset='patnr', keep='first').sum()

1180458

In [165]:
unique_patient = data_df['patnr'].nunique()
unique_patient

2543

In [190]:
data_df.unique_patient

AttributeError: 'DataFrame' object has no attribute 'unique_patient'

In [192]:
import numpy as np
import matplotlib.pyplot as plt


from matplotlib.pyplot import hist
df = pd.DataFrame({
    'n2value': np.random.randn(100),
    'unique_patient': 100 * np.random.rand()
})
hist(data_df.['n2value'], weights=data_df.unique_patient)

fig.tight_layout()
plt.show()

SyntaxError: invalid syntax (<ipython-input-192-b12e056959b1>, line 10)

In [189]:
#remove string in columns [n2value]
blacklist = ["geronnen", "Material fehlt", "<0.01","entfõllt","Anforderung wurde vom Einsender storniert.","BB-Differenzierung nicht verwertbar", "falsches Material","Bestimmung entfõllt", "Verdacht auf Probenverwechslung durch den Einsender", "!sKomm", "Probe im Labor verungl\xb3ckt"]
data_df = data_df[~data_df["n2value"].isin(blacklist)]

In [186]:
original_string = data_df['n2value']
characters_to_remove = "<"

new_string = original_string
for character in characters_to_remove:
  new_string = new_string.replace(character, " ")

print(new_string)
new_string = new_string.astype(float)

#data_df['n2value'] = data_df['n2value'].astype(float)

0           10
1           11
2           12
3           17
4           20
          ...
1182996    5.1
1182997    223
1182998    223
1182999    223
1183000    223
Name: n2value, Length: 1167785, dtype: object

ValueError: could not convert string to float: '< 0.3'

In [188]:
new_string = new_string.astype(float)

ValueError: could not convert string to float: '< 0.3'

In [167]:
le = preprocessing.LabelEncoder()
blacklist = ["geronnen", "Material fehlt", "<0.01","entfõllt","Anforderung wurde vom Einsender storniert.","BB-Differenzierung nicht verwertbar", "falsches Material","Bestimmung entfõllt", "Verdacht auf Probenverwechslung durch den Einsender", "!sKomm", "Probe im Labor verungl\xb3ckt"]
unique_patient = unique_patient[~unique_patient["n2value"].isin(blacklist)]

TypeError: 'int' object is not subscriptable

In [59]:
dfn["n2value"] = le.fit_transform(dfn['n2value'].astype(float))

In [60]:
dfn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11187 entries, 1000 to 1182911
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               11187 non-null  int64
 1   doknr            11187 non-null  int64
 2   dokvr            11187 non-null  int64
 3   patnr            11187 non-null  int64
 4   falnr            11187 non-null  int64
 5   n2leistid        11187 non-null  object
 6   n2value          11187 non-null  int64
 7   n2date           11187 non-null  object
 8   n2time           11187 non-null  int64
 9   Protokollnamen   11187 non-null  object
 10  Protokollnummer  11187 non-null  object
 11  alter            11187 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.1+ MB

In [62]:
a = set(data_df["n2leistid"].values)
dfn = data_df[data_df.n2leistid == 'LANEUTA']
len(a), dfn.shape

(38, (11238, 12))

In [86]:
a = set(data_df["n2leistid"].values)
dfn = data_df[data_df.n2leistid == 'LANEUTA']
len(a), dfn.shape
le = preprocessing.LabelEncoder()
blacklist = ["geronnen", "Material fehlt", "<0.01","entfõllt","Anforderung wurde vom Einsender storniert.","BB-Differenzierung nicht verwertbar", "falsches Material","Bestimmung entfõllt", "Verdacht auf Probenverwechslung durch den Einsender", "!sKomm", "Probe im Labor verungl\xb3ckt"]
dfn = dfn[~dfn["n2value"].isin(blacklist)]
dfn["n2value"] = le.fit_transform(dfn['n2value'].astype(float))
nicht_gesund = dfn[(dfn["n2value"] < 7.2 ) | (dfn["n2value"] > 1.7)]
#print(dfn.shape)
nicht_gesund

,ID,doknr,dokvr,patnr,falnr,n2leistid,n2value,n2date,n2time,Protokollnamen,Protokollnummer,alter
1000,1001,10020573412,0,5000737,75501997,LANEUTA,421,20180912,130141,Carboplatin-Gemcitabine,0019-KLStg,83
1001,1002,10020697569,0,5000737,75527878,LANEUTA,148,20181002,133028,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1002,1003,10020736404,0,5000737,75538093,LANEUTA,184,20181009,123536,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1003,1004,10021010824,0,5000737,75602249,LANEUTA,303,20181120,144318,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1004,1005,10022456961,0,5000737,75939435,LANEUTA,1442,20190706,91502,Pembrolizumab 200mg abs.,0099-KLStg,84
...,...,...,...,...,...,...,...,...,...,...,...,...
1182793,1182794,10021611177,0,101020252,75740308,LANEUTA,27,20190222,103303,PEB-KLStg,0064-KLStg,22
1182794,1182795,10022565220,0,101020252,75965023,LANEUTA,350,20190722,145559,PEB-KLStg,0064-KLStg,23
1182909,1182910,10025080741,1,405071089,76538041,LANEUTA,485,20200910,142221,Rixathon_KS,0192-KLStg,90
1182910,1182911,10025080741,3,405071089,76538041,LANEUTA,485,20200910,142221,Rixathon_KS,0192-KLStg,90
1182911,1182912,10025080741,2,405071089,76538041,LANEUTA,485,20200910,142221,Rixathon_KS,0192-KLStg,90

In [83]:
a = set(data_df["n2leistid"].values)
dfn = data_df[data_df.n2leistid == 'LANEUTA']
len(a), dfn.shape
le = preprocessing.LabelEncoder()
blacklist = ["geronnen", "Material fehlt", "<0.01","entfõllt","Anforderung wurde vom Einsender storniert.","BB-Differenzierung nicht verwertbar", "falsches Material","Bestimmung entfõllt", "Verdacht auf Probenverwechslung durch den Einsender", "!sKomm", "Probe im Labor verungl\xb3ckt"]
dfn = dfn[~dfn["n2value"].isin(blacklist)]
dfn["n2value"] = le.fit_transform(dfn['n2value'].astype(float))
nicht_gesund = dfn[(dfn["n2value"] > 7.2 ) | (dfn["n2value"] < 1.7)]
#print(dfn.shape)
nicht_gesund

,ID,doknr,dokvr,patnr,falnr,n2leistid,n2value,n2date,n2time,Protokollnamen,Protokollnummer,alter
1000,1001,10020573412,0,5000737,75501997,LANEUTA,421,20180912,130141,Carboplatin-Gemcitabine,0019-KLStg,83
1001,1002,10020697569,0,5000737,75527878,LANEUTA,148,20181002,133028,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1002,1003,10020736404,0,5000737,75538093,LANEUTA,184,20181009,123536,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1003,1004,10021010824,0,5000737,75602249,LANEUTA,303,20181120,144318,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1004,1005,10022456961,0,5000737,75939435,LANEUTA,1442,20190706,91502,Pembrolizumab 200mg abs.,0099-KLStg,84
...,...,...,...,...,...,...,...,...,...,...,...,...
1182793,1182794,10021611177,0,101020252,75740308,LANEUTA,27,20190222,103303,PEB-KLStg,0064-KLStg,22
1182794,1182795,10022565220,0,101020252,75965023,LANEUTA,350,20190722,145559,PEB-KLStg,0064-KLStg,23
1182909,1182910,10025080741,1,405071089,76538041,LANEUTA,485,20200910,142221,Rixathon_KS,0192-KLStg,90
1182910,1182911,10025080741,3,405071089,76538041,LANEUTA,485,20200910,142221,Rixathon_KS,0192-KLStg,90
1182911,1182912,10025080741,2,405071089,76538041,LANEUTA,485,20200910,142221,Rixathon_KS,0192-KLStg,90

In [85]:
Anzahl_Patient = dfn["patnr"].value_counts(normalize=True)
Anzahl_Patient

60238863    0.009118
6901771     0.007598
6136831     0.006794
60133403    0.005363
6949635     0.005274
              ...
60227606    0.000089
60079045    0.000089
6079466     0.000089
60010657    0.000089
60397585    0.000089
Name: patnr, Length: 1769, dtype: float64

In [72]:
#nicht_gesund = data_df[(data_df.n2value < 1.5) & (data_df.n2value > 7.2)]

In [ ]:
#df[cat] = le.fit_transform(df[cat].astype(str))

In [22]:
dfn.head()

,ID,doknr,dokvr,patnr,falnr,n2leistid,n2value,n2date,n2time,Protokollnamen,Protokollnummer,alter
1000,1001,10020573412,0,5000737,75501997,LANEUTA,4.21,20180912,130141,Carboplatin-Gemcitabine,0019-KLStg,83
1001,1002,10020697569,0,5000737,75527878,LANEUTA,1.48,20181002,133028,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1002,1003,10020736404,0,5000737,75538093,LANEUTA,1.84,20181009,123536,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1003,1004,10021010824,0,5000737,75602249,LANEUTA,3.03,20181120,144318,Carboplatin-Gemcitabine Dialyse-Patienten,0467-KLStg,83
1004,1005,10022456961,0,5000737,75939435,LANEUTA,23.76,20190706,91502,Pembrolizumab 200mg abs.,0099-KLStg,84

In [23]:
print(data_df.describe(include='all'))

                  ID         doknr         dokvr         patnr         falnr  \
count   1.183001e+06  1.183001e+06  1.183001e+06  1.183001e+06  1.183001e+06
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean    5.915010e+05  1.002291e+10  1.437860e-01  3.371201e+07  7.601708e+07
std     3.415031e+05  2.107243e+06  4.077225e-01  2.745283e+07  4.895845e+05
min     1.000000e+00  1.001898e+10  0.000000e+00  5.000737e+06  7.088192e+07
25%     2.957510e+05  1.002117e+10  0.000000e+00  6.303075e+06  7.562041e+07
50%     5.915010e+05  1.002297e+10  0.000000e+00  6.001891e+07  7.603712e+07
75%     8.872510e+05  1.002472e+10  0.000000e+00  6.024724e+07  7.643427e+07
max     1.183001e+06  1.002651e+10  6.000000e+00  4.050711e+08  7.686924e+07

       n2leistid  n2value      n2date        n2time  \
count    1183001  1183001   1183001.0  1.183001e+06
unique        38     7535      2329.0           NaN
top         LAHB      0.7  20200107.0           NaN
freq       88433    15811      2172.0           NaN
mean         NaN      NaN         NaN  1.085134e+05
std          NaN      NaN         NaN  3.377359e+04
min          NaN      NaN         NaN  0.000000e+00
25%          NaN      NaN         NaN  9.131100e+04
50%          NaN      NaN         NaN  1.025490e+05
75%          NaN      NaN         NaN  1.218560e+05
max          NaN      NaN         NaN  2.020042e+07

                                           Protokollnamen Protokollnummer  \
count                                             1183001         1183001
unique                                                503             461
top     RCTx Cisplatin 40 w├Â _Al-Sarraf mod_Nasophary...      0117-KLStg
freq                                                57801           57801
mean                                                  NaN             NaN
std                                                   NaN             NaN
min                                                   NaN             NaN
25%                                                   NaN             NaN
50%                                                   NaN             NaN
75%                                                   NaN             NaN
max                                                   NaN             NaN

               alter
count   1.183001e+06
unique           NaN
top              NaN
freq             NaN
mean    7.891187e+01
std     1.791081e+04
min     1.800000e+01
25%     5.400000e+01
50%     6.500000e+01
75%     7.400000e+01
max     1.948090e+07

In [24]:
print(dfn['n2value'])

1000        4.21
1001        1.48
1002        1.84
1003        3.03
1004       23.76
           ...
1182793     0.27
1182794     3.50
1182909     4.85
1182910     4.85
1182911     4.85
Name: n2value, Length: 11238, dtype: object

In [25]:
data_df.alter[0]

83

In [26]:
type(data_df.alter[0])

numpy.int64